@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap');

.page-header {
    display: flex;
    justify-content: center;
    background-image: url('../photos/david-wirzba-AK9ufbcsqGk-unsplash.jpg');
    width: 100%;
    border-style: none;
    margin-top: -20px;
    margin-right: 20px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 50px; 
}
  
.page-header h1 {
    background-color: black;
    color: white;
    padding: 10px 10px 10px 10px;
    font-family: 'Playfair Display SC', serif;
}