@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap');

* {
  background: black;
}

.page-header {
  display: flex;
  justify-content: center;
  background-image: url('https://web-app-kitchen-sink.s3.us-west-2.amazonaws.com/files/1585162339873_david-wirzba-AK9ufbcsqGk-unsplash.jpg');
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 50px;
  padding-bottom: 50px; 
}

.page-header h1 {
  background-color: black;
  color: white;
  padding: 10px 10px 10px 10px;
  font-family: 'Playfair Display SC', serif;
}

.page-footer {
  display: flex;
  justify-content: center;
  background-image: url('https://web-app-kitchen-sink.s3.us-west-2.amazonaws.com/files/1585162339873_david-wirzba-AK9ufbcsqGk-unsplash.jpg');
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px; 
}

.page-footer h2 {
  background-color: black;
  color: white;
  padding: 10px 10px 10px 10px;
  font-family: 'Playfair Display SC', serif;
}


